.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-image:linear-gradient(rgb(157, 136, 29),rgb(236, 73, 73));
  }
  
  .expense-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
    text-shadow: 1px 1px 1.4px rgb(13, 7, 7);
    margin:5px ;
  
  }
  
  .expense-item__description h2 {
    flex: 1;
    margin: 0 7rem;
    color: rgb(21, 202, 234);
    
  }

  
  .expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(251, 247, 247);
    background-color: #30336b;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
    text-shadow: 1px 1px 1.4px rgb(239, 11, 11);
  }
  
  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
      /* text-shadow: 2px 2px 3px red;; */

    }
  
    .expense-item__description h2 {
      font-size: 1.25rem;
    }
  
    .expense-item__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }