.expense-date {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    border: 1px solid #ececec;
    background-color: #2a2a2a;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px rgb(252, 9, 9);

  }
  
  .expense-date__month {
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  .expense-date__year {
    font-size: 1rem;
  }
  
  .expense-date__day {
    font-size: 1.5rem;
    font-weight: bold;
  }