.expenses {
    padding: 1rem;
    background:url('C:\Users\avina\Desktop\React\mayankavi\src\Images\image1.jpg') no-repeat center center/cover;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    
  }